.item {
  opacity: 0.5;
  padding: 0.8rem 2rem;
  border-top: 1px solid var(--light);
  background-color: var(--dark);
}

.item:last-child {
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.item:hover {
  background-color: var(--light);
  color: var(--dark);
}

.dropdown {
  border: 4px solid var(--light);
  box-shadow: 0 0.4rem var(--light);
  border-radius: 1rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  user-select: none;
  position: absolute;
  width: 100%;
  background-color: var(--dark);

  transition: all 0.1s;
}

.menu {
  display: none;
}

.visible {
  display: block;
}

.dropdown:hover {
  transform: translate(0, -0.2em);
  box-shadow: 0 0.5em;
}

.dropdown.active {
  outline: none;
}

.text,
.item {
  font-size: 1.8rem;
}

.choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
}

.choose .icon {
  font-size: 3rem;
  transition: transform 0.2s;
}

.dropdown.visible .icon {
  transform: rotate(90deg);
}
